Library
Temp
*.csproj
*.sln
Assets/TP/*
TP.meta
Assembly-CSharp-Editor-firstpass.csprojAssemblyReference.cache
.vs/
Assets/Lua/.idea/
obj/Debug/*
ToluaBuild/iOS/build/*
ToluaBuild/macnojit/build/*
ToluaBuild/macnojit/tolua.xcodeproj/project.xcworkspace/xcuserdata
ToluaBuild/macnojit/tolua.xcodeproj/project.xcworkspace/xcshareddata/*
ToluaBuild/macnojit/tolua.xcodeproj/xcshareddata/xcschemes/tolua.xcscheme
ToluaBuild/iOS/tolua.xcodeproj/project.xcworkspace/xcuserdata/*
ToluaBuild/macnojit/tolua.xcodeproj/xcuserdata/*
Assets/Ignore.meta
Assets/Ignore/
KOW_IDEA.iml
echo.meta
Assets/echo/*
Make/__pycache__/*
Make/config/config_ForBuild.ini
Make/log/*
Temp.meta
Assets/Temp/*
Assets/StreamingAssets/data/*
Assets/StreamingAssets/data.meta
Assets/StreamingAssets/md5
Assets/StreamingAssets/md5.meta
Project/*
Assets/Plugins/Android/*
Assets/Plugins/Android.meta
ConfigData.asset
Project-*.symbols.zip
UserInterfaceState.xcuserstate
xcschememanagement.plist
/Assets/Lua/.vscode/lua.code-snippets
/.gitattributes
/Assets/Lua/Lua.iml
/Assets/Lua/Lua.iml.meta
/Assets/Scripts/Editor/Helper/MyRectTransformEditor.cs
/Assets/Scripts/Editor/Helper/MyRectTransformEditor.cs.meta
/obj/
Assets/__Aver3.meta
Assets/__Aver3/
/Assets/Scenes/UITest.unity
/Assets/Scenes/UITest.unity.meta
/KOW_prj.sln.DotSettings.user
config.py
helper.cpython-36.pyc
Assets/Resources/remoteablist.bytes
Assets/Resources/remoteablist.bytes.meta
FileUtil.cpython-36.pyc
KOW_android.userprefs
KOW.userprefs
TestData
/Assets/Plugins/LuaProfiler/
/Assets/Plugins/LuaProfiler.meta
/Assets/LuaDeepProfilerAssetSetting.asset
/Assets/LuaDeepProfilerAssetSetting.asset.meta
/Assets/LuaDeepProfilerSetting.asset
/Assets/LuaDeepProfilerSetting.asset.meta
ProjectVersion.txt
Assets/Plugins/Editor/Haste/
Assets/Plugins/Editor/Haste.meta
Assets/Lua/.vscode/launch.json
Assets/Lua/LuaDebug.lua
Assets/Lua/LuaDebug.lua.meta/Assets/Plugins/Haste/
/Assets/Plugins/Haste.meta/Assets/Plugins/Haste/
/Assets/Plugins/Haste.metaLibrary

Assets/Lua/LuaDebug.lua.meta
.vscode/launch.json
/LuaDebuggee.dll
/Assets/ThirdParty/LuaPerfect/ObjectFormater.cs
/Assets/ThirdParty/LuaPerfect/ObjectFormater.meta
ThirdParty/
ThirdParty.meta
/Assets/.lpproj/
/Assets/.lpproj.meta
/Assets/Source/Generate/LuaPerfect_ObjectFormaterWrap.cs
/Assets/Source/Generate/LuaPerfect_ObjectFormaterWrap.cs.meta
/Assets/Source/Generate/LuaPerfect_ObjectItemWrap.cs
/Assets/Source/Generate/LuaPerfect_ObjectItemWrap.cs.meta
/Assets/Source/Generate/LuaPerfect_ObjectRefWrap.cs
/Assets/Source/Generate/LuaPerfect_ObjectRefWrap.cs.meta
